<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    
    <title>TodoList</title>
</head>
<body>
    <div id="container">
        <header>

        </header>
        <main>
            <article>
                <section>
                    <div>
                        <div class="type-select">
                            <div class="selected-type">All</div> 
                            <ul style="display: none;">
                                <li>Inmportance</li>
                                <li>complete</li>
                                <li>incomplete</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        남은 할 일 카운트
                    </div>
                </section>
                <section>
                    <div>
                        <ul>
                            <li>
                                <input type="checkbox" name="" id="">
                                <div></div>
                                <input type="text" style="display: none;">
                                <div>삭제</div>
                            </li>
                        </ul>
                        <div>추가버튼</div>
                    </div>
                </section>
            </article>
        </main>
    </div>
</body>
</html>